//colores
$principal: #5e311e;
$secundario: #c39c36;
$negro: #000000;
$blanco: #ffffff;
$gris: #eceeef;
$cafeClaro: #ebe7de;
//fuentes
$fuente_princiapal: "Raleway", sans-serif;
$fuente_secundaria: "Roboto", sans-serif;
$fuente_cursiva: "Bona Nova", sans-serif;

//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//unidades
$separacion: 5rem;
